<div *ngIf="!loading else load">
    <div class="back" (click)="goBack()"><span class="arrow">&larr;</span> Back</div>
    <div class="container">
        <div class="flag" [ngStyle]="{'background' : image.url_svg}"></div>
        <div class="details">
            <div class="grid1">
                <h2 [textContent]="card.names.common"></h2>
                <h5>Population: <span [textContent]="card.population"></span></h5>
                <h5>Region: <span [textContent]="card.region"></span></h5>
                <h5>Sub Region: <span [textContent]="card.subregion"></span></h5>
                <h5>Capital: <span [textContent]="card.capitals[0].name"></span></h5>
            </div>
            <div class="grid2">
                <h5>Top Level Domain: <span [textContent]="(card.tlds).join(', ')"></span></h5>
                <h5>Currencies: <span [textContent]="currencies"></span></h5>
                <h5>Languages: <span [textContent]="languages.join(', ')"></span></h5>
            </div>
            <div class="border" *ngIf="!borderLoading else loadBorder">
                <h5>Border Countries: </h5>
                <div class="country" *ngFor="let country of borderCountries">
                    <span class="card" [textContent]="country.names.common" [routerLink]="['/card', country.codes.ccn3]"></span>
                </div>
            </div>
            <ng-template #loadBorder>
                <loader></loader>
            </ng-template>
        </div>
    </div>
</div>
<ng-template #load>
    <loader></loader>
</ng-template>
